body {
  background-color: rgb(158, 129, 58);
}
.todo-wrapper {
  font-family: Arial, sans-serif;
  max-width: 500px;
  margin: 100px auto;
  padding: 20px;
  background-color:#bba5a5;
  border-radius: 25px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color:brown;
}
p {
  color: brown;
  font-size: 20px;
  font-weight: bold;
  font-family: monospace;
}

form {
  display: flex;
  margin-bottom: 20px;
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
}

button {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-left: 3px;
  background-color: brown;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3e8e41;
}

.todo-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#eadbdbf3;
  padding: 0 5px;
  margin-bottom: 8px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  
}

.todo-task {
  flex-grow: 1;
  font-size: 16px;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
}

.todo-icon {
  font-size: 20px;
  margin-left: 12px;
  cursor: pointer;
}

.edit-icon {
  color: #1e90ff;
}

.delete-icon {
  color: #ff6347;
}

.completed {
  text-decoration: line-through;
  color: #ccc;
}

@media (max-width: 576px) {
  .todo-card {
    font-size: 14px;
  }
}
